VITE_LOCAL_MODE=true
VITE_RPC_URL=http://127.0.0.1:8545
VITE_CHAIN_ID=31337
VITE_MAKEIT_ADDRESS=
VITE_ORACLE_ADDRESS=
VITE_SWAP_ADAPTER_ADDRESS=
VITE_USDC_ADDRESS=
VITE_USDT_ADDRESS=
VITE_WETH_ADDRESS=
VITE_UNISWAP_POOL_ADDRESS=
VITE_BACKEND_URL=http://127.0.0.1:8787
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=admin123
